#### Loading the Data

source: /raw_csv
target: /stagging

In [32]:
import duckdb

In [33]:
conn = duckdb.connect("hdbc.duckdb")

In [21]:
raw_guest = conn.sql("SELECT * FROM read_csv('Data_Storage\\raw_csv\\guest_info.csv')")

In [22]:
raw_booking = conn.sql("SELECT * FROM read_csv('Data_Storage\\raw_csv\\booking_details.csv')")

In [23]:
raw_cancellation = conn.sql("SELECT * FROM read_csv('Data_Storage\\raw_csv\\cancellation_records.csv')")

In [24]:
conn.sql("CREATE TABLE stag_guest as (SELECT * FROM raw_guest)")

In [25]:
conn.sql("CREATE TABLE stag_booking as (SELECT * FROM raw_booking)")

In [26]:
conn.sql("CREATE TABLE stag_cancellation as (SELECT * FROM raw_cancellation)")

In [27]:
conn.sql(f"DESCRIBE stag_guest")

┌───────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│    column_name    │ column_type │  null   │   key   │ default │  extra  │
│      varchar      │   varchar   │ varchar │ varchar │ varchar │ varchar │
├───────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ booking_id        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ name              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ email             │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ phone-number      │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ credit_card       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ adults            │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ children          │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ babies            │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ customer_type     │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ is_repeated_guest │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ country           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
├───────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 11 rows                                                       6 columns │
└─────────────────────────────────────────────────────────────────────────┘

In [28]:
conn.sql(f"DESCRIBE stag_booking")

┌─────────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│         column_name         │ column_type │  null   │   key   │ default │  extra  │
│           varchar           │   varchar   │ varchar │ varchar │ varchar │ varchar │
├─────────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ booking_id                  │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ hotel                       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ lead_time                   │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ arrival_date_year           │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ arrival_date_month          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ arrival_date_week_number    │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ arrival_date_day_of_month   │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ stays_in_weekend_nights     │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ stays_in_week_nights        │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ meal                        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ market_segment              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ distribution_channel        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ reserved_room_type          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ assigned_room_type          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ booking_changes             │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ deposit_type                │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ days_in_waiting_list        │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ adr                         │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ required_car_parking_spaces │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ total_of_special_requests   │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ company                     │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
│ agent                       │ DOUBLE      │ YES     │ NULL    │ NULL    │ NULL    │
├─────────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 22 rows                                                                 6 columns │
└───────────────────────────────────────────────────────────────────────────────────┘

In [34]:
conn.sql('show tables')

┌───────────────────┐
│       name        │
│      varchar      │
├───────────────────┤
│ stag_booking      │
│ stag_cancellation │
│ stag_guest        │
└───────────────────┘

In [36]:
conn.close()

In [12]:
conn.sql(f"DESCRIBE dim_overview")

CatalogException: Catalog Error: Table with name dim_overview does not exist!
Did you mean "pg_views"?