In [2]:
from pathlib import Path
import duckdb
import pandas as pd
db_path = str(Path.cwd().parent / 'hdbc.duckdb')

conn = duckdb.connect(db_path)


# d_ovw = conn.execute("SELECT * FROM dim_overview").df()

In [12]:
guest_month = conn.execute("""
            SELECT 
                month,	
                hotel,	
                guests
            FROM avg_guest_month
        """)
guest_month_df = guest_month.df()

In [1]:
pip install --upgrade altair streamlit

Collecting altair
  Using cached altair-5.3.0-py3-none-any.whl.metadata (9.2 kB)
Collecting streamlit
  Downloading streamlit-1.35.0-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: jinja2 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from altair) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from altair) (4.22.0)
Requirement already satisfied: numpy in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from altair) (1.26.4)
Requirement already satisfied: packaging in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from altair) (24.0)
Requirement already satisfied: pandas>=0.25 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from altair) (2.2.2)
Collecting toolz (from altair)
  Using cached toolz-0.12.1-py3-none-any.whl.metadata (5.1 kB)
Collecting blinker<2,>=1.0.0 (from streamlit)
  Using cached blinker-1.8.2-py3-none-any.whl.metadata (1.6 kB)
Collecting cachetools<6,>=4.0 (from streamlit)
  Using cached cachetools-5.3.3-py3-none-any.whl.metadata (5.3 kB)
Requirement already satisfied: click<9,>=7.0 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from streamlit) (10.3.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from streamlit) (4.25.3)
Collecting pyarrow>=7.0 (from streamlit)
  Downloading pyarrow-16.1.0-cp312-cp312-win_amd64.whl.metadata (3.1 kB)
Requirement already satisfied: requests<3,>=2.27 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from streamlit) (2.31.0)
Collecting rich<14,>=10.14.0 (from streamlit)
  Using cached rich-13.7.1-py3-none-any.whl.metadata (18 kB)
Collecting tenacity<9,>=8.1.0 (from streamlit)
  Using cached tenacity-8.3.0-py3-none-any.whl.metadata (1.2 kB)
Collecting toml<2,>=0.10.1 (from streamlit)
  Using cached toml-0.10.2-py2.py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from streamlit) (4.11.0)
Collecting gitpython!=3.1.19,<4,>=3.0.7 (from streamlit)
  Using cached GitPython-3.1.43-py3-none-any.whl.metadata (13 kB)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Using cached pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from streamlit) (6.4)
Collecting watchdog>=2.1.5 (from streamlit)
  Downloading watchdog-4.0.1-py3-none-win_amd64.whl.metadata (37 kB)
Requirement already satisfied: colorama in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Collecting gitdb<5,>=4.0.1 (from gitpython!=3.1.19,<4,>=3.0.7->streamlit)
  Using cached gitdb-4.0.11-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: attrs>=22.2.0 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from jsonschema>=3.0->altair) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from jsonschema>=3.0->altair) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from jsonschema>=3.0->altair) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from jsonschema>=3.0->altair) (0.18.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from pandas>=0.25->altair) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from pandas>=0.25->altair) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from pandas>=0.25->altair) (2024.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from jinja2->altair) (2.1.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from requests<3,>=2.27->streamlit) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.2.2)
Collecting markdown-it-py>=2.2.0 (from rich<14,>=10.14.0->streamlit)
  Using cached markdown_it_py-3.0.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit)
  Using cached smmap-5.0.1-py3-none-any.whl.metadata (4.3 kB)
Collecting mdurl~=0.1 (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit)
  Using cached mdurl-0.1.2-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: six>=1.5 in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.25->altair) (1.16.0)
Using cached altair-5.3.0-py3-none-any.whl (857 kB)
Downloading streamlit-1.35.0-py2.py3-none-any.whl (8.6 MB)
   ---------------------------------------- 0.0/8.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/8.6 MB 218.6 kB/s eta 0:00:39
   ---------------------------------------- 0.1/8.6 MB 218.6 kB/s eta 0:00:39
   ---------------------------------------- 0.1/8.6 MB 209.5 kB/s eta 0:00:41
    --------------------------------------- 0.2/8.6 MB 388.2 kB/s eta 0:00:22
    --------------------------------------- 0.2/8.6 MB 388.2 kB/s eta 0:00:22
    --------------------------------------- 0.2/8.6 MB 388.2 kB/s eta 0:00:22
    --------------------------------------- 0.2/8.6 MB 388.2 kB/s eta 0:00:22
   - -------------------------------------- 0.3/8.6 MB 413.7 kB/s eta 0:00:21
   - -------------------------------------- 0.3/8.6 MB 463.3 kB/s eta 0:00:18
   - -------------------------------------- 0.3/8.6 MB 463.3 kB/s eta 0:00:18
   - -------------------------------------- 0.3/8.6 MB 463.3 kB/s eta 0:00:18
   - -------------------------------------- 0.3/8.6 MB 463.3 kB/s eta 0:00:18
   - -------------------------------------- 0.4/8.6 MB 475.4 kB/s eta 0:00:18
   - -------------------------------------- 0.4/8.6 MB 475.4 kB/s eta 0:00:18
   -- ------------------------------------- 0.5/8.6 MB 574.6 kB/s eta 0:00:15
   -- ------------------------------------- 0.5/8.6 MB 574.6 kB/s eta 0:00:15
   -- ------------------------------------- 0.6/8.6 MB 563.2 kB/s eta 0:00:15
   --- ------------------------------------ 0.7/8.6 MB 645.1 kB/s eta 0:00:13
   --- ------------------------------------ 0.7/8.6 MB 645.1 kB/s eta 0:00:13
   --- ------------------------------------ 0.8/8.6 MB 729.4 kB/s eta 0:00:11
   --- ------------------------------------ 0.8/8.6 MB 706.8 kB/s eta 0:00:11
   ---- ----------------------------------- 1.0/8.6 MB 840.0 kB/s eta 0:00:09
   ---- ----------------------------------- 1.0/8.6 MB 840.0 kB/s eta 0:00:09
   ----- ---------------------------------- 1.2/8.6 MB 947.4 kB/s eta 0:00:08
   ----- ---------------------------------- 1.2/8.6 MB 947.4 kB/s eta 0:00:08
   ----- ---------------------------------- 1.2/8.6 MB 947.4 kB/s eta 0:00:08
   ------ --------------------------------- 1.5/8.6 MB 993.7 kB/s eta 0:00:08
   ------- -------------------------------- 1.5/8.6 MB 1.0 MB/s eta 0:00:07
   ------- -------------------------------- 1.7/8.6 MB 1.1 MB/s eta 0:00:07
   -------- ------------------------------- 1.9/8.6 MB 1.2 MB/s eta 0:00:06
   ---------- ----------------------------- 2.2/8.6 MB 1.4 MB/s eta 0:00:05
   ----------- ---------------------------- 2.5/8.6 MB 1.5 MB/s eta 0:00:05
   ------------- -------------------------- 2.8/8.6 MB 1.6 MB/s eta 0:00:04
   -------------- ------------------------- 3.2/8.6 MB 1.8 MB/s eta 0:00:03
   --------------- ------------------------ 3.4/8.6 MB 1.9 MB/s eta 0:00:03
   ---------------- ----------------------- 3.6/8.6 MB 1.9 MB/s eta 0:00:03
   ----------------- ---------------------- 3.7/8.6 MB 1.9 MB/s eta 0:00:03
   ------------------- -------------------- 4.2/8.6 MB 2.1 MB/s eta 0:00:03
   -------------------- ------------------- 4.3/8.6 MB 2.1 MB/s eta 0:00:02
   --------------------- ------------------ 4.7/8.6 MB 2.3 MB/s eta 0:00:02
   ----------------------- ---------------- 5.0/8.6 MB 2.4 MB/s eta 0:00:02
   ------------------------- -------------- 5.4/8.6 MB 2.5 MB/s eta 0:00:02
   ------------------------- -------------- 5.5/8.6 MB 2.5 MB/s eta 0:00:02
   --------------------------- ------------ 5.8/8.6 MB 2.6 MB/s eta 0:00:02
   ---------------------------- ----------- 6.2/8.6 MB 2.7 MB/s eta 0:00:01
   ----------------------------- ---------- 6.4/8.6 MB 2.8 MB/s eta 0:00:01
   ------------------------------- -------- 6.7/8.6 MB 2.9 MB/s eta 0:00:01
   ------------------------------- -------- 6.7/8.6 MB 2.9 MB/s eta 0:00:01
   ------------------------------- -------- 6.9/8.6 MB 2.8 MB/s eta 0:00:01
   --------------------------------- ------ 7.2/8.6 MB 2.9 MB/s eta 0:00:01
   ---------------------------------- ----- 7.4/8.6 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 7.7/8.6 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 7.9/8.6 MB 3.1 MB/s eta 0:00:01
   -------------------------------------- - 8.2/8.6 MB 3.1 MB/s eta 0:00:01
   -------------------------------------- - 8.2/8.6 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  8.4/8.6 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  8.6/8.6 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------- 8.6/8.6 MB 3.1 MB/s eta 0:00:00
Using cached blinker-1.8.2-py3-none-any.whl (9.5 kB)
Using cached cachetools-5.3.3-py3-none-any.whl (9.3 kB)
Using cached GitPython-3.1.43-py3-none-any.whl (207 kB)
Downloading pyarrow-16.1.0-cp312-cp312-win_amd64.whl (25.8 MB)
   ---------------------------------------- 0.0/25.8 MB ? eta -:--:--
    --------------------------------------- 0.3/25.8 MB 10.6 MB/s eta 0:00:03
    --------------------------------------- 0.6/25.8 MB 7.7 MB/s eta 0:00:04
   - -------------------------------------- 1.0/25.8 MB 7.9 MB/s eta 0:00:04
   -- ------------------------------------- 1.4/25.8 MB 8.2 MB/s eta 0:00:03
   -- ------------------------------------- 1.7/25.8 MB 7.9 MB/s eta 0:00:04
   -- ------------------------------------- 1.9/25.8 MB 7.1 MB/s eta 0:00:04
   -- ------------------------------------- 1.9/25.8 MB 7.1 MB/s eta 0:00:04
   -- ------------------------------------- 1.9/25.8 MB 7.1 MB/s eta 0:00:04
   -- ------------------------------------- 1.9/25.8 MB 7.1 MB/s eta 0:00:04
   -- ------------------------------------- 1.9/25.8 MB 7.1 MB/s eta 0:00:04
   --- ------------------------------------ 2.4/25.8 MB 4.7 MB/s eta 0:00:06
   ---- ----------------------------------- 2.8/25.8 MB 5.3 MB/s eta 0:00:05
   ---- ----------------------------------- 3.2/25.8 MB 5.4 MB/s eta 0:00:05
   ----- ---------------------------------- 3.4/25.8 MB 5.7 MB/s eta 0:00:04
   ----- ---------------------------------- 3.4/25.8 MB 5.3 MB/s eta 0:00:05
   ----- ---------------------------------- 3.6/25.8 MB 4.9 MB/s eta 0:00:05
   ----- ---------------------------------- 3.6/25.8 MB 4.9 MB/s eta 0:00:05
   ----- ---------------------------------- 3.6/25.8 MB 4.9 MB/s eta 0:00:05
   ----- ---------------------------------- 3.6/25.8 MB 4.9 MB/s eta 0:00:05
   ----- ---------------------------------- 3.6/25.8 MB 4.9 MB/s eta 0:00:05
   ----- ---------------------------------- 3.6/25.8 MB 4.9 MB/s eta 0:00:05
   ----- ---------------------------------- 3.6/25.8 MB 4.9 MB/s eta 0:00:05
   ----- ---------------------------------- 3.6/25.8 MB 4.9 MB/s eta 0:00:05
   ----- ---------------------------------- 3.6/25.8 MB 4.9 MB/s eta 0:00:05
   ----- ---------------------------------- 3.6/25.8 MB 3.2 MB/s eta 0:00:07
   ------ --------------------------------- 3.9/25.8 MB 3.3 MB/s eta 0:00:07
   ------ --------------------------------- 4.1/25.8 MB 3.5 MB/s eta 0:00:07
   ------ --------------------------------- 4.4/25.8 MB 3.6 MB/s eta 0:00:07
   ------- -------------------------------- 4.7/25.8 MB 3.6 MB/s eta 0:00:06
   ------- -------------------------------- 5.1/25.8 MB 3.8 MB/s eta 0:00:06
   -------- ------------------------------- 5.3/25.8 MB 3.9 MB/s eta 0:00:06
   -------- ------------------------------- 5.3/25.8 MB 3.9 MB/s eta 0:00:06
   -------- ------------------------------- 5.4/25.8 MB 3.7 MB/s eta 0:00:06
   -------- ------------------------------- 5.4/25.8 MB 3.7 MB/s eta 0:00:06
   -------- ------------------------------- 5.4/25.8 MB 3.7 MB/s eta 0:00:06
   -------- ------------------------------- 5.4/25.8 MB 3.7 MB/s eta 0:00:06
   -------- ------------------------------- 5.4/25.8 MB 3.3 MB/s eta 0:00:07
   --------- ------------------------------ 5.9/25.8 MB 3.5 MB/s eta 0:00:06
   --------- ------------------------------ 6.3/25.8 MB 3.7 MB/s eta 0:00:06
   --------- ------------------------------ 6.4/25.8 MB 3.7 MB/s eta 0:00:06
   ---------- ----------------------------- 6.5/25.8 MB 3.6 MB/s eta 0:00:06
   ---------- ----------------------------- 6.9/25.8 MB 3.7 MB/s eta 0:00:06
   ----------- ---------------------------- 7.2/25.8 MB 3.8 MB/s eta 0:00:05
   ------------ --------------------------- 7.8/25.8 MB 4.0 MB/s eta 0:00:05
   ------------ --------------------------- 8.0/25.8 MB 4.1 MB/s eta 0:00:05
   ------------ --------------------------- 8.2/25.8 MB 4.1 MB/s eta 0:00:05
   ------------- -------------------------- 8.4/25.8 MB 4.1 MB/s eta 0:00:05
   ------------- -------------------------- 8.5/25.8 MB 4.1 MB/s eta 0:00:05
   ------------- -------------------------- 8.9/25.8 MB 4.1 MB/s eta 0:00:05
   -------------- ------------------------- 9.2/25.8 MB 4.1 MB/s eta 0:00:05
   -------------- ------------------------- 9.5/25.8 MB 4.2 MB/s eta 0:00:04
   --------------- ------------------------ 9.8/25.8 MB 4.3 MB/s eta 0:00:04
   --------------- ------------------------ 9.8/25.8 MB 4.3 MB/s eta 0:00:04
   --------------- ------------------------ 10.0/25.8 MB 4.2 MB/s eta 0:00:04
   ---------------- ----------------------- 10.4/25.8 MB 4.2 MB/s eta 0:00:04
   ---------------- ----------------------- 10.4/25.8 MB 4.2 MB/s eta 0:00:04
   ---------------- ----------------------- 10.5/25.8 MB 4.1 MB/s eta 0:00:04
   ---------------- ----------------------- 10.5/25.8 MB 4.1 MB/s eta 0:00:04
   ---------------- ----------------------- 10.9/25.8 MB 4.0 MB/s eta 0:00:04
   ----------------- ---------------------- 11.3/25.8 MB 4.0 MB/s eta 0:00:04
   ------------------ --------------------- 11.8/25.8 MB 4.1 MB/s eta 0:00:04
   ------------------- -------------------- 12.4/25.8 MB 4.5 MB/s eta 0:00:04
   ------------------- -------------------- 12.7/25.8 MB 4.4 MB/s eta 0:00:03
   ------------------- -------------------- 12.9/25.8 MB 4.4 MB/s eta 0:00:03
   -------------------- ------------------- 13.1/25.8 MB 4.3 MB/s eta 0:00:03
   -------------------- ------------------- 13.3/25.8 MB 4.3 MB/s eta 0:00:03
   --------------------- ------------------ 13.7/25.8 MB 4.4 MB/s eta 0:00:03
   --------------------- ------------------ 14.1/25.8 MB 5.4 MB/s eta 0:00:03
   ---------------------- ----------------- 14.3/25.8 MB 5.4 MB/s eta 0:00:03
   ---------------------- ----------------- 14.3/25.8 MB 5.4 MB/s eta 0:00:03
   ---------------------- ----------------- 14.6/25.8 MB 5.3 MB/s eta 0:00:03
   ---------------------- ----------------- 14.8/25.8 MB 5.4 MB/s eta 0:00:03
   ----------------------- ---------------- 15.2/25.8 MB 5.2 MB/s eta 0:00:03
   ----------------------- ---------------- 15.2/25.8 MB 5.2 MB/s eta 0:00:03
   ------------------------ --------------- 15.6/25.8 MB 5.4 MB/s eta 0:00:02
   ------------------------ --------------- 15.8/25.8 MB 6.0 MB/s eta 0:00:02
   ------------------------ --------------- 16.0/25.8 MB 6.0 MB/s eta 0:00:02
   ------------------------ --------------- 16.0/25.8 MB 6.0 MB/s eta 0:00:02
   ------------------------ --------------- 16.0/25.8 MB 6.0 MB/s eta 0:00:02
   ------------------------- -------------- 16.2/25.8 MB 5.5 MB/s eta 0:00:02
   ------------------------- -------------- 16.5/25.8 MB 5.5 MB/s eta 0:00:02
   ------------------------- -------------- 16.5/25.8 MB 5.5 MB/s eta 0:00:02
   ------------------------- -------------- 16.5/25.8 MB 5.5 MB/s eta 0:00:02
   ------------------------- -------------- 16.5/25.8 MB 5.1 MB/s eta 0:00:02
   -------------------------- ------------- 16.9/25.8 MB 5.3 MB/s eta 0:00:02
   -------------------------- ------------- 17.3/25.8 MB 5.2 MB/s eta 0:00:02
   --------------------------- ------------ 17.5/25.8 MB 5.2 MB/s eta 0:00:02
   --------------------------- ------------ 18.0/25.8 MB 5.2 MB/s eta 0:00:02
   ---------------------------- ----------- 18.3/25.8 MB 5.2 MB/s eta 0:00:02
   ---------------------------- ----------- 18.7/25.8 MB 5.3 MB/s eta 0:00:02
   ----------------------------- ---------- 19.0/25.8 MB 5.4 MB/s eta 0:00:02
   ----------------------------- ---------- 19.0/25.8 MB 5.4 MB/s eta 0:00:02
   ----------------------------- ---------- 19.0/25.8 MB 5.4 MB/s eta 0:00:02
   ----------------------------- ---------- 19.4/25.8 MB 5.2 MB/s eta 0:00:02
   ------------------------------ --------- 19.8/25.8 MB 5.3 MB/s eta 0:00:02
   ------------------------------- -------- 20.2/25.8 MB 5.5 MB/s eta 0:00:02
   ------------------------------- -------- 20.5/25.8 MB 5.5 MB/s eta 0:00:01
   -------------------------------- ------- 20.7/25.8 MB 5.6 MB/s eta 0:00:01
   -------------------------------- ------- 21.1/25.8 MB 5.8 MB/s eta 0:00:01
   --------------------------------- ------ 21.3/25.8 MB 5.7 MB/s eta 0:00:01
   --------------------------------- ------ 21.6/25.8 MB 5.6 MB/s eta 0:00:01
   --------------------------------- ------ 21.9/25.8 MB 5.6 MB/s eta 0:00:01
   --------------------------------- ------ 21.9/25.8 MB 5.6 MB/s eta 0:00:01
   --------------------------------- ------ 21.9/25.8 MB 5.6 MB/s eta 0:00:01
   --------------------------------- ------ 21.9/25.8 MB 5.6 MB/s eta 0:00:01
   --------------------------------- ------ 21.9/25.8 MB 5.6 MB/s eta 0:00:01
   --------------------------------- ------ 21.9/25.8 MB 5.6 MB/s eta 0:00:01
   --------------------------------- ------ 21.9/25.8 MB 5.6 MB/s eta 0:00:01
   ---------------------------------- ----- 22.0/25.8 MB 4.8 MB/s eta 0:00:01
   ---------------------------------- ----- 22.0/25.8 MB 4.8 MB/s eta 0:00:01
   ---------------------------------- ----- 22.0/25.8 MB 4.8 MB/s eta 0:00:01
   ---------------------------------- ----- 22.0/25.8 MB 4.8 MB/s eta 0:00:01
   ---------------------------------- ----- 22.0/25.8 MB 4.8 MB/s eta 0:00:01
   ---------------------------------- ----- 22.0/25.8 MB 4.8 MB/s eta 0:00:01
   ---------------------------------- ----- 22.0/25.8 MB 4.8 MB/s eta 0:00:01
   ---------------------------------- ----- 22.0/25.8 MB 4.8 MB/s eta 0:00:01
   ---------------------------------- ----- 22.0/25.8 MB 4.8 MB/s eta 0:00:01

In [13]:
guest_month_df

        month         hotel       guests
0     October  Resort hotel  2396.500000
1    December  Resort hotel  1892.500000
2       March  Resort hotel  2305.500000
3   September  Resort hotel  2086.500000
4    February  Resort hotel  2153.000000
5      August  Resort hotel  2506.000000
6        June  Resort hotel  2062.000000
7       April  Resort hotel  2343.500000
8     January  Resort hotel  1592.000000
9         May  Resort hotel  2431.500000
10       July  Resort hotel  2350.333333
11   November  Resort hotel  1728.000000
12    October    City hotel  3949.500000
13   December    City hotel  2338.500000
14      March    City hotel  3811.500000
15      April    City hotel  4060.000000
16       July    City hotel  3406.333333
17    January    City hotel  1986.500000
18        May    City hotel  4281.000000
19     August    City hotel  3858.333333
20  September    City hotel  3943.500000
21   February    City hotel  2850.000000
22       June    City hotel  4189.000000
23   November    City hotel  2279.500000

In [2]:
cancel_month = conn.execute("""
        SELECT 
            deposit_type,
            AVG(CASE WHEN is_canceled = 1 THEN 100.0 ELSE 0 END) AS cancellation_percentage
        FROM dim_hotel
        GROUP BY deposit_type
    """)

cancel_month_df = cancel_month.df()

In [3]:
cancel_month_df

  deposit_type  cancellation_percentage
0   No Deposit                28.382164
1   Non Refund                99.362446
2   Refundable                22.222222

In [3]:
conn.close()

In [43]:
cancel_month = conn.execute("""
            SELECT 
                arrival_date_month,
                AVG(CASE WHEN is_canceled = 1 THEN 100.0 ELSE 0 END) AS cancellation_percentage,
                hotel
            FROM dim_hotel
            GROUP BY arrival_date_month, hotel
            ORDER BY arrival_date_month
        """)


cancel_month_results = cancel_month.fetchall()


cancel_month_df = pd.DataFrame(cancel_month_results, columns=['arrival_date_month', 'cancellation_percentage', 'hotel'])

In [44]:

cancel_month_df

   arrival_date_month  cancellation_percentage         hotel
0               April                46.323529    City Hotel
1               April                29.343308  Resort Hotel
2              August                40.097963    City Hotel
3              August                33.449121  Resort Hotel
4            December                23.829305  Resort Hotel
5            December                42.110358    City Hotel
6            February                25.620367  Resort Hotel
7            February                38.288016    City Hotel
8             January                39.668094    City Hotel
9             January                14.819881  Resort Hotel
10               July                40.875371    City Hotel
11               July                31.401706  Resort Hotel
12               June                33.070608  Resort Hotel
13               June                44.692171    City Hotel
14              March                36.946423    City Hotel
15              March                22.871703  Resort Hotel
16                May                44.375607    City Hotel
17                May                28.772127  Resort Hotel
18           November                38.122561    City Hotel
19           November                18.916701  Resort Hotel
20            October                42.971729    City Hotel
21            October                27.510549  Resort Hotel
22          September                42.027027    City Hotel
23          September                32.368082  Resort Hotel

In [39]:
cancel_rate = conn.execute("""
            SELECT
    'Resort hotel' AS hotel,
    (stays_in_weekend_nights + stays_in_week_nights) AS total_nights,
    COUNT(*) / (SELECT COUNT(*) FROM resort_hotel) * 100 AS rel_num_bookings
FROM resort_hotel
GROUP BY total_nights

UNION ALL

SELECT
    'City hotel' AS hotel,
    (stays_in_weekend_nights + stays_in_week_nights) AS total_nights,
    COUNT(*) / (SELECT COUNT(*) FROM city_hotel) * 100 AS rel_num_bookings
FROM city_hotel
GROUP BY total_nights;

                    """)
cancel_rate_df = cancel_rate.df()

CatalogException: Catalog Error: Table with name resort_hotel does not exist!
Did you mean "dim_hotel"?
LINE 6: FROM resort_hotel
             ^

In [35]:

cancel_rate_df

          hotel  total_days_stayed  percentage_of_total_days
0  Resort Hotel           173001.0                 42.271971
1    City Hotel           236256.0                 57.728029

In [25]:
cancel_rate_df

In [34]:
from pathlib import Path
import duckdb
db_path = str(Path.cwd().parent / 'hdbc.duckdb')
conn = duckdb.connect(db_path)
d_ovw = conn.sql("SELECT * FROM dim_overview").df()

IOException: IO Error: File is already open in
C:\Users\njhus\AppData\Local\Programs\Python\Python312\python.exe (PID 8304)

In [45]:
conn.close()

In [23]:
total_count = conn.sql("SELECT COUNT(*) FROM dim_overview").fetchall()[0][0]
query_result = conn.sql("SELECT COUNT(CASE WHEN hotel='Resort Hotel' THEN 1 END) AS resort_count, COUNT(CASE WHEN hotel='City Hotel' THEN 1 END) AS city_count FROM dim_overview").fetchall()[0]

resort_count, city_count = query_result
resort_percentage = (resort_count / total_count) * 100
city_percentage = (city_count / total_count) * 100

print(f"Resort Hotel Percentage: {resort_percentage:.2f}%")
print(f"City Hotel Percentage: {city_percentage:.2f}%")

Resort Hotel Percentage: 33.55%
City Hotel Percentage: 66.45%

In [26]:
# Execute a single SQL query to get the counts for 'Resort Hotel' and 'City Hotel' in one go
query_result = conn.sql("""
    SELECT 
        COUNT(CASE WHEN hotel='Resort Hotel' THEN 1 END) AS resort_count,
        COUNT(CASE WHEN hotel='City Hotel' THEN 1 END) AS city_count,
        COUNT(*) AS total_count
    FROM dim_overview
""").fetchall()

# Unpack the values from the query result
# resort_count, city_count, total_count = query_result

# Calculate the percentages directly without needing separate queries
resort_percentage = (resort_count / total_count) * 100
city_percentage = (city_count / total_count) * 100

# Print the results
print(f"Resort Hotel Percentage: {resort_percentage:.2f}%")
print(f"City Hotel Percentage: {city_percentage:.2f}%")

Resort Hotel Percentage: 33.55%
City Hotel Percentage: 66.45%

In [43]:
query_result = conn.sql("""
SELECT 
    COUNT(CASE WHEN hotel='Resort Hotel' THEN 1 END) AS resort_count,
    COUNT(CASE WHEN hotel='City Hotel' THEN 1 END) AS city_count,
    COUNT(*) AS total_count
FROM dim_overview
""").fetchall()

# Extracting counts from the query result
resort_count, city_count, total_count = query_result[0]

# Calculating percentages
resort_percentage = (resort_count / total_count) * 100
city_percentage = (city_count / total_count) * 100

# Pie chart
labels = ['Resort Hotel', 'City Hotel']
sizes = [resort_count, city_count]
explode = (0.1, 0)

fig, ax = plt.subplots(figsize=(8, 6))
ax.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%', shadow=True, startangle=140)
ax.axis('equal')
ax.set_title('Hotel Type Distribution', fontsize=12)

Text(0.5, 1.0, 'Hotel Type Distribution')

In [42]:
import streamlit as st
import pandas as pd
import duckdb
import matplotlib.pyplot as plt
from pathlib import Path
import io
import base64

In [45]:
resort_count, city_count, total_count

(40060, 79330, 119390)

In [59]:
cancel_rate = conn.sql("""
    SELECT
        is_cancelled as Cancellation,
        (COUNT(CASE WHEN is_canceled='1' THEN 1 END) / COUNT(*)) * 100 AS cancelled,
        (COUNT(CASE WHEN is_canceled='0' THEN 1 END) / COUNT(*)) * 100 AS not_cancelled
    FROM dim_overview   
    """).df()

In [54]:
cancel_rate

   cancelled  not_cancelled
0  37.041628      62.958372

In [67]:

cancel_rate = conn.execute("""
    SELECT 
        (COUNT(CASE WHEN is_canceled='1' THEN 1 END) / COUNT(*)) * 100 AS cancelled,
        (COUNT(CASE WHEN is_canceled='0' THEN 1 END) / COUNT(*)) * 100 AS not_cancelled
    FROM dim_overview   
""")

cancel_rate_df = cancel_rate.df()

In [68]:
cancel_rate_df

   cancelled  not_cancelled
0  37.041628      62.958372

In [62]:
cancel_rate = conn.execute("""
        SELECT 
            is_canceled as Cancellation,
            (COUNT(CASE WHEN is_canceled='1' THEN 1 END) / COUNT(*)) * 100 AS cancelled,
            (COUNT(CASE WHEN is_canceled='0' THEN 1 END) / COUNT(*)) * 100 AS not_cancelled
        FROM dim_overview   
        GROUP BY Cancellation
    """)


cancel_rate_df = cancel_rate.df()

In [63]:
cancel_rate_df

   Cancellation  cancelled  not_cancelled
0             0        0.0          100.0
1             1      100.0            0.0

In [69]:
cancel_rate = conn.execute("""
    SELECT 
        is_canceled as Cancellation,
        (COUNT(CASE WHEN is_canceled='1' THEN 1 END) / COUNT(*)) * 100 AS cancelled,
        (COUNT(CASE WHEN is_canceled='0' THEN 1 END) / COUNT(*)) * 100 AS not_cancelled
    FROM dim_overview   
    GROUP BY is_canceled
""")

cancel_rate_df = cancel_rate.df()

In [70]:
cancel_rate_df

   Cancellation  cancelled  not_cancelled
0             0        0.0          100.0
1             1      100.0            0.0

In [71]:
cancel_rate = conn.execute("""
    SELECT 
        'Cancellation Rate' as Cancellation,
        (COUNT(CASE WHEN is_canceled='1' THEN 1 END) / COUNT(*)) * 100 AS cancelled,
        (COUNT(CASE WHEN is_canceled='0' THEN 1 END) / COUNT(*)) * 100 AS not_cancelled
    FROM dim_overview
""")

cancel_rate_df = cancel_rate.df()

In [72]:
cancel_rate_df

        Cancellation  cancelled  not_cancelled
0  Cancellation Rate  37.041628      62.958372

In [17]:
conn.close()

In [75]:
cancel_rate = conn.execute("""
    SELECT 
        CASE WHEN is_canceled='1' THEN 'Cancelled' ELSE 'Not Cancelled' END AS Cancellation,
        (COUNT(*) / (SELECT COUNT(*) FROM dim_overview)) * 100 AS Percentage
    FROM dim_overview
    GROUP BY is_canceled
""")

cancel_rate_df = cancel_rate.df()

In [76]:
cancel_rate_df

    Cancellation  Percentage
0  Not Cancelled   62.958372
1      Cancelled   37.041628

In [84]:
Market_Segment = conn.execute("""
    SELECT market_segment as "Market Segment", COUNT(*) as count
    FROM dim_overview
    GROUP BY market_segment
    ORDER BY count DESC
    """)

Market_Segment_df = Market_Segment.df()

    # st.subheader("Market Segment")
    # st.bar_chart(
    # Market_Segment_df,
    # x="Market Segment",
    # y="count",
    # color=["#859887"],
    # height=500)

In [86]:
Market_Segment_df

  Market Segment  count
0      Online TA  56477
1  Offline TA/TO  24219
2         Groups  19811
3         Direct  12606
4      Corporate   5295
5  Complementary    743
6       Aviation    237
7      Undefined      2

In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\njhus\desktop\hdbc\hdbc-venv\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [13]:
guest_month = conn.execute("""
            SELECT 
                arrival_date_month,
                SUM(adults + children + babies) AS sum_number_of_guest,
                hotel
            FROM dim_hotel
            GROUP BY arrival_date_month, hotel
            ORDER BY arrival_date_month
        """)

guest_month_df = guest_month.df()

In [14]:
guest_month_df

   arrival_date_month  sum_number_of_guest         hotel
0               April              15101.0    City Hotel
1               April               6899.0  Resort Hotel
2              August              19401.0    City Hotel
3              August              11370.0  Resort Hotel
4            December               5051.0  Resort Hotel
5            December               8145.0    City Hotel
6            February               5923.0  Resort Hotel
7            February               9376.0    City Hotel
8             January               6721.0    City Hotel
9             January               3803.0  Resort Hotel
10               July              10404.0  Resort Hotel
11               July              17203.0    City Hotel
12               June               6365.0  Resort Hotel
13               June              15116.0    City Hotel
14              March              12333.0    City Hotel
15              March               6099.0  Resort Hotel
16                May               6992.0  Resort Hotel
17                May              15464.0    City Hotel
18           November               4288.0  Resort Hotel
19           November               7524.0    City Hotel
20            October              14133.0    City Hotel
21            October               6911.0  Resort Hotel
22          September               6405.0  Resort Hotel
23          September              13961.0    City Hotel

In [15]:
guest_month_df = pd.DataFrame(guest_month.fetchall(), columns=['arrival_date_month', 'sum_number_of_guest', 'hotel'])

        # Adjusting the sum of the number of guests for July and August
guest_month_df.loc[(guest_month_df["arrival_date_month"] == "July") | (guest_month_df["arrival_date_month"] == "August"),
                        "sum_number_of_guest"] /= 3
guest_month_df.loc[~((guest_month_df["arrival_date_month"] == "July") | (guest_month_df["arrival_date_month"] == "August")),
                        "sum_number_of_guest"] /= 2

month_order = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
guest_month_df['arrival_date_month'] = pd.Categorical(guest_month_df['arrival_date_month'], categories=month_order, ordered=True)
guest_month_df = guest_month_df.sort_values(by='arrival_date_month')

In [16]:
guest_month_df

Empty DataFrame
Columns: [arrival_date_month, sum_number_of_guest, hotel]
Index: []